### Tuples

In [57]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [58]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [59]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])
print(thistuple[4:])

('apple', 'banana', 'cherry', 'orange')
('kiwi', 'melon', 'mango')

In [60]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [61]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [62]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [63]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [64]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(*green,tropic, red) = fruits

print(green)
print(tropic)
print(red)

['apple', 'mango', 'papaya']
pineapple
cherry

In [65]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [66]:
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

### Sets

In [67]:
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [68]:
s = {2,3,"Abhay",True, (1,2,"Hello",False)}
print(s)
print(type(s))

{True, 2, 3, 'Abhay', (1, 2, 'Hello', False)}
<class 'set'>

In [69]:
s = {2,3,"Abhay",True, (1,2,"Hello",False)}

for x in s:
  print(x)

True
2
3
Abhay
(1, 2, 'Hello', False)

In [70]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)

{'banana', 'cherry', 'mango', 'pineapple', 'apple', 'papaya'}

In [71]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("cherry")
print(thisset)

{'banana', 'apple'}

In [72]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'cherry', 'Elena', 'a', 'c', 'bananas', 'apple', 'b', 'John'}

In [73]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [74]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [75]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'cherry', 'google', 'banana', 'microsoft'}