In [ ]:
rows=int(input("Enter no of rows:-" ))
for i in range(0,rows):
    for j in range(rows-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
rows=int(input("Enter no of rows:-" ))
for i in range(1,rows+1):
    for j in range(0,i):
        print('*',end=' ')
    print() 
for k in range(0,rows):
    for l in range(rows-k,1,-1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [14]:
# More efficient code in terms of time complexity
# Using string multiplication
rows = int(input("Enter no of rows:- "))
for i in range(1, rows + 1):
    print('* ' * i)  
for i in range(rows - 1, 0, -1):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [16]:
rows=5
for i in range(1,rows+1):
    print(' '*rows,end='')
    print('* '*i)
    rows=rows-1

     *
    * *
   * * *
  * * * *
 * * * * *

In [27]:
rows=5
for i in range(1,rows+1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [33]:
x=10
n=6
sum=1
str=''
print('1+',end='')
for i in range(2,n+1):
    sum=sum+x**i/i
    str=str+'x^{}/{}+'.format(i,i)
print(str[:-1])  
print(sum)

1+x^2/2+x^3/3+x^4/4+x^5/5+x^6/6
189551.0

In [38]:
num=int(input("Enter your no:- "))
binary=[]
while num>0:
    binary.append(num%2)
    num=num//2
for i in binary[::-1]:
  print(i,end='')

10001

In [47]:
text = 'Motilal Nehru National Institute of Technology Allahabad'
result = ''
for i in text.split():
    if i.lower() != 'of': 
        print(i[0].upper(), end='')

MNNITA

In [49]:
str='PyNaTive'
upper=''
lower=''
for i in str:
  if i.islower():
    lower=lower+i
  else:
    upper=upper+i
print(lower+upper)

yaivePNT

In [ ]:
str='hel123O4every093'
sum=0
count=0
for i in str:
    if i.isdigit():
        sum=sum+int(i)
        count+=1
print(sum)
print(sum/count)
print(count)

22
3.142857142857143
7

In [55]:
text='Motilal Nehru National Institute of Technology Allahabad'
l=[]
for i in text.split():
    l.append(i)
l=l[::-1]
print(' '.join(l))

Allahabad Technology of Institute National Nehru Motilal